POSTGRES_DB=suture_crm
POSTGRES_USER=suture
POSTGRES_PASSWORD=suture_dev_only
POSTGRES_PORT=5432
SUTURE_DB_URL=jdbc:postgresql://localhost:5432/suture_crm
SUTURE_DB_USERNAME=suture
SUTURE_DB_PASSWORD=suture_dev_only
SUTURE_CORS_ALLOWED_ORIGIN=http://localhost:5173
SUTURE_AUTH_BOOTSTRAP_EMAIL=admin@suture.local
SUTURE_AUTH_BOOTSTRAP_NAME=Administrador local
SUTURE_AUTH_BOOTSTRAP_PASSWORD=cambiar-esta-clave
SUTURE_AUTH_BOOTSTRAP_TENANT_ID=00000000-0000-0000-0000-000000000001
