POSTGRES_DB=suture_crm
POSTGRES_USER=suture
POSTGRES_PASSWORD=suture_dev_only
POSTGRES_PORT=5432
SUTURE_DB_URL=jdbc:postgresql://localhost:5432/suture_crm
SUTURE_DB_USERNAME=suture
SUTURE_DB_PASSWORD=suture_dev_only
SUTURE_CORS_ALLOWED_ORIGIN=http://localhost:5173
